html,
body {
    height: 100%;
    background-color: #ffd;
}

div.article-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

div.article-row{
    display: table-row;
}

div.article-cell{
    display: table-cell;
    text-align: center;
    border: none;
    border: 1px solid #ccc;
    vertical-align: middle;
}

div.article-header{
    width: 20%;
}

div.article-description{
    horiz-align: left;
}